{% extends 'app/base.html' %}
{% block content %}
<div class="container background-border">
        {% for section in sections %}
            <div class="left-part" style="color: white">
            <p class="section-name">{{ section }}</p>
            {% for theme in themes %}
                {% if theme.section_id == section.id %}
                    <p class="theme-name"><i class="fa-solid fa-flag" style="font-size: 13px; color: #ffc107; margin-right: 10px"></i>{{ theme }}</p>
                    <hr>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    <div class="right-part">
    </div>
</div>

{% endblock %}